/*****************************************************
7.  SEARCH POP DOWN
******************************************************/
.search-pop-up {
	float: right;
	margin-right: 3px;
	margin-top: 2px;
	position: relative;
}
a.search-a {
	background-image: url(../images/search.png);
	background-repeat: no-repeat;
	background-position: left top;
	height: 35px;
	width: 44px;
	display: block;
}
a.search-a:hover {
	background-image: url(../images/search1.png);
}
.search-container {
	padding: 10px;
	position: absolute;
	right: 3px;
	top: 38px;
	width: 180px;
	display: none;
	background-color: #171717;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-bottomleft: 3px;
	-moz-border-radius-bottomright: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	-webkit-box-shadow: 1px 1px 0px #000000;
	-moz-box-shadow: 1px 1px 0px #000000;
	box-shadow: 1px 1px 0px #000000;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #000;
	background-image: url(../images/sub-nav-bg.png);
	background-repeat: repeat-y;
	background-position: right top;
}
.search-input-wrap {
	float: left;
}
.search-input-wrap input {
	color: #bbbbbb;
	background-color: #070707;
	padding-top: 5px;
	padding-right: 3px;
	padding-bottom: 5px;
	padding-left: 3px;
	width: 123px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000;
	border-right-color: #090909;
	border-left-color: #090909;
	border-bottom-width: 1px;
	border-bottom-color: #212121;
	-webkit-box-shadow: inset 0px -1px 0px #000;
	-moz-box-shadow: inset 0px -1px 0px #000;
	box-shadow: inset 0px -1px 0px #000;
}
.search-input-wrap input:focus {
	color: #fff;
    background-image: none;
	border-top-color: #212121;
	border-left-color: #212121;
	border-right-color: #212121;
	-webkit-box-shadow: inset 0px 3px 15px #000;
	-moz-box-shadow: inset 0px 3px 15px #000;
	box-shadow: inset 0px 3px 15px #000;
}
.search-button-wrap {
	float: right;
}
.search-button-wrap input {
	display: block;
	outline: none;
	cursor: pointer;
	text-decoration: none;
	height: 28px;
	width: 40px;
	text-align: center;
	padding-top: 5px;
	padding-right: 4px;
	padding-bottom: 5px;
	padding-left: 4px;
	display: inline-block;
	color: #FFF;
	font-size: 13px;
	background-color: #070707;
	text-shadow: 1px 1px 0px #000;
	border: 1px solid #000;
	-webkit-box-shadow: 0px 1px 0px #000;
	-moz-box-shadow: 0px 1px 0px #000;
	box-shadow: 0px 1px 0px #000;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	background-image: url(../images/up-bg.png);
	background-repeat: repeat-x;
	background-position: left top;
	float: right;
    margin-top: -1px;
}
.search-button-wrap input:hover {
	text-decoration: none;
	color: #ffa200;
	-webkit-box-shadow: 0px 1px 0px #000;
	-moz-box-shadow: 0px 1px 0px #000;
	box-shadow: 0px 1px 0px #000;
	position: relative;
	top: 1px;

}
/*****************************************************
8.  MINIMISE SCREEN BUTTON
******************************************************/
.min-button {
	float: right;
	margin-right: 3px;
	margin-top: 2px;
}

.min-button a {
    background-repeat: no-repeat;
    background-position: left top;
    height: 35px;
    width: 44px;
    display: block;
}

a.min {
	background-image: url(../images/minimise.png);
}
a.min:hover {
	background-image: url(../images/minimise1.png);
}
