/* storm */

/*****************************************************
5.  HEADINGS
******************************************************/

h1 {
	font-size: 29px;
	color: #fff;
	font-weight: normal;
	margin-top: 3px;
	margin-bottom: 3px;
	display: block;
}
h2 {
	font-size: 17px;
	color: #ffa200;
	font-weight: normal;
	margin-bottom: 8px;
}
h3 {
	font-size: 17px;
	color: #fff;
	font-weight: normal;
	margin-bottom: 6px;
	margin-top: 3px;
}
#sidebar h3 {
	background-color: #070707;
	padding-top: 4px;
	padding-right: 20px;
	padding-bottom: 4px;
	padding-left: 10px;
	font-size: 15px;
	margin-top: 0px;
	margin-right: -20px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-color: #070707;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft:5px;
	border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-left-radius: 5px;
	-webkit-box-shadow: 0px 1px 0px #1d1d1d;
	-moz-box-shadow: 0px 1px 0px #1d1d1d;
	box-shadow: 0px 1px 0px #1d1d1d;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #030303;
	border-bottom-color: #030303;
	border-left-color: #030303;
}
h4 {
	font-size: 13px;
	color: #fff;
	font-weight: bold;
    margin-bottom: 6px;
    margin-top: 3px;
}
h5 {
	font-size: 12px;
	color: #FFA200;
	font-weight: normal;
    margin-bottom: 6px;
    margin-top: 3px;
}
.footer-inside h1 {
	font-size: 15px;
	color: #FFF;
}


/*****************************************************
6.  GLOBAL HYPERLINKS
******************************************************/

a:link, a:visited {
	color: #ffa200;
	text-decoration:none;
}
a:hover {
	color: #fff;
	text-decoration: none;
}
a.button-link, a.more-link {
	line-height: 13px;
	text-align: center;
	height: 13px;
	padding-top: 5px;
	padding-right: 20px;
	padding-bottom: 5px;
	padding-left: 20px;
	display: inline-block;
	color: #FFF;
	font-size: 12px;
	background-color: #070707;
	text-shadow: 1px 1px 0px #000;
	border: 1px solid #000;
	-webkit-box-shadow: 0px 1px 0px #1d1d1d;
	-moz-box-shadow: 0px 1px 0px #1d1d1d;
	box-shadow: 0px 1px 0px #1d1d1d;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	background-image: url(../images/down-bg.png);
	background-repeat: repeat-x;
	background-position: left top;
}
a.button-link:hover, a.more-link:hover {
	color: #ffa200;
	text-shadow: -1px -1px 0px #000;
	text-decoration: none;
	background-image: none;
}



/*****************************************************
11.  CONTENT COLUMNS VARIATIONS
******************************************************/
.one-of-three {
	float: left;
	width: 283px;
	margin-right: 20px;
}
.two-of-three {
	float: left;
	width: 283px;
	margin-right: 20px;
}
.three-of-three {
	float: right;
	width: 283px;
	margin-right: -20px;
	padding-right: 20px;
}

.one-of-two {
	float: left;
	width: 440px;
	margin-right: 20px;
}
.two-of-two  {
	float: right;
	width: 440px;
	margin-right: -20px;
	padding-right: 20px;
}

.one-small-of-two {
	float: left;
	width: 220px;
	margin-right: 20px;
}
.one-large-of-two {
	float: right;
	width: 660px;
	margin-right: -20px;
	padding-right: 20px;
}
.bottom-breaker {
	padding-top: 5px;
	padding-bottom: 35px;
	margin-bottom: 10px;
	background-image: url(../images/section-breaker-white.png);
	background-repeat: repeat-x;
	background-position: left bottom;
}